# If CW_MIXER_AUTOGAIN is set to 'yes' we will attempt to adjust the input
# files to give them similar average volumes before combining them. By
# preference we use "wavegain" to do this. If it isn't (and it doesn't come
# with all (any?) distributions but follow the link to the/a website from
# freshmeat, http://freshmeat.net/projects/wavegain/ if you want to install
# it) then we will try and use "normalize" (which comes with SuSE at least).
# If neither "wavegain" nor "normalize" are found no adjustment will be
# made regardless of the setting below.
#
# Note that both "wavegain" and "normalize" want to work with PCM data.
# The input files will be automatically converted as necessary however
# if you have WAV/GSM inputs and are outputting WAV the output will be
# WAV/PCM rather than WAV/GSM. i.e. in this case your output files will
# be significantly bigger with CW_MIXER_AUTOGAIN on and will almost certainly
# get transcoded if you play them back via any sort of telephony channel.
#
# You almost certainly want this enabled.
CW_MIXER_AUTOGAIN='yes'

# Set CW_MIXER_KEEP_INPUTS to 'yes' to retain the input files. Otherwise
# they will be deleted if the merged file _appears_ to have been successful.
#
# Set this to anything other than 'yes' at your own risk!
CW_MIXER_KEEP_INPUTS='yes'

# Set CW_MIXER_MERGETYPE to 'M' if you want the input files to be combined
# as separate channels in a stereo output file. Set to 'm' if you want the
# input files mixed to create a mono output file.
#
# This only works if you have a sufficiently recent version of "sox".
# Otherwise we will automatically fall back to "soxmix" which only mixes
# inputs to create a mono output. If neither "sox" nor "soxmix" appear to
# work there will, of course, be no output created.
CW_MIXER_MERGETYPE='M'

# CW_MIXER_EFFECTS can be used to apply effects such as companding to the
# input files. These effects are applied using sox to the input files
# individually _after_ any CW_MIXER_AUTOGAIN normalization but _before_
# mixing.
#
# A typical use might be to use the "compand" filter to smooth out
# volume changes (particularly useful for a conference call recording
# perhaps). In the example below the first filter attempts to even out
# fluctuations as different people speak, the second attempts to
# clamp down on short duration noises such as someone bumping the mic.
#
# You should probably not enable this unless you know what you are
# doing and are prepared to experiment. There is unlikely to be any
# one setting that suits all circumstances - and plenty that suit
# no circumstances!
#CW_MIXER_EFFECTS=(
#	compand 1,4 6:-80,-80,-75,-25,0,0 -5 -30 1
#	compand .03,.2 -80,-80,-15,-15,0,-15 -15 -40 .1
#)
