;
; AMI - The CallWeaver Manager Interface
; 
; Third party application call management support and PBX event supervision
;
; This configuration file is read every time someone logs in
;
; Use the "show manager commands" at the CLI to list available manager commands
; and their authorization levels.
;
; "show manager command <command>" will show a help text.
;
[general]
;displayconnects = yes
;
; Ports (IPv4) and paths (UNIX) to listen on for client connections.
; Multiple listens are allowed. Default is none.
;
; Note that you should not enable the AMI on a public IP address. If needed,
; block the TCP port with iptables (or another FW software) and reach it
; with IPsec, SSH, or SSL vpn tunnel
;
; Listen for IPv4 connections from the localhost only
listen = 127.0.0.1:5038
;
; Listen for IPv4 connections from *anywhere* (NOT RECOMMENDED!)
;listen = 0.0.0.0:5038
;
; Listen for UNIX/Local connections from the localhost only
;listen = /var/run/callweaver/manager.ami

;[manager]
;secret = mysecret
;deny=0.0.0.0/0.0.0.0
;permit=127.0.0.1/255.0.0.0
;
; If the device connected via this user accepts input slowly,
; the timeout for writes to it can be increased to keep it
; from being disconnected (value is in milliseconds)
;
; writetimeout = 100
;
; Authorization for various classes 
;read = system,call,log,verbose,command,agent,user
;write = system,call,log,verbose,command,agent,user
