;;; odbc setup file 

[openpbx]
dsn => openpbx
;username => myuser
;password => mypass
pre-connect => yes


;[mysql2]
;dsn => MySQL-openpbx
;username => myuser
;password => mypass
;pre-connect => yes






